@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;0,700;1,500&display=swap');

$background-clr: #0f0e17;
$headline-clr: #fffffe;
$paragraph-clr: #a7a9be;
$button-clr: #ff8906;
$button-txt-clr: #fffffe;
$sidebar-width: 280px;


body{
    background: $background-clr;
    color: $paragraph-clr;
    font-family: 'Bai Jamjuree', sans-serif;
}

button{
    background: $button-clr;
    color: $button-txt-clr;
}

p{
    color: $paragraph-clr;
    font-family: 'Bai Jamjuree', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    color: $headline-clr;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 700;
}

.nav-link{
    text-decoration: none;
    color: $button-txt-clr;
    transition: all .4s ease;
    font-family: 'Bai Jamjuree';
    &:hover{
        color: $button-clr;
    }
    
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-brand{
    margin-right: 0px !important;
}

.navbar-brand img{
    width: 200px;
    height: 200px;
    border: 8px solid $button-clr;
}

@media (min-width: 992px){
    .navbar{
    min-height: 100vh; 
    width: $sidebar-width;
    background: linear-gradient(rgba(15, 14, 23, 1), rgba(15, 14, 23, 0.9)), url('../img/pexels-hristo-fidanov-1252869.jpg');
    background-size: cover;
    }
}
