@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;0,700;1,500&display=swap');

$background-clr: #0f0e17;
$background-clr2: #2d2b3b;
$headline-clr: #fffffe;
$paragraph-clr: #a7a9be;
$button-clr: #ff8906;
$button-txt-clr: #fffffe;
$sidebar-width: 280px;
$shadow-color:  rgb(3, 110, 46);

body{
    background: $background-clr;
    color: $paragraph-clr;
    font-family: 'Bai Jamjuree', sans-serif;
}

button{
    background: $button-clr;
    color: $button-txt-clr;
}

p{
    color: $paragraph-clr;
    font-family: 'Bai Jamjuree', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    color: $headline-clr;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 700;
}

.nav-link{
    text-decoration: none;
    color: $button-txt-clr;
    transition: all .4s ease;
    font-family: 'Bai Jamjuree';
    &:hover{
        color: $button-clr;
    }
    
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    &.active{
        color: $button-clr;
    }
}


.navbar-brand img{
    width: 200px;
    height: 200px;
    border: 8px solid $button-clr;
}

 .navbar{
    background-color: $background-clr;
 }

 .link-button{
    text-decoration: none;
    color: $button-txt-clr;
    background-color: $button-clr;
    border-radius: 12px;
    padding: 15px 15px;
    font-weight: 700;
    display: inline-block;
  }

.full-height{
    min-height: 100vh;
    height: 100%;
    display: flex;
    align-items: center;
}
  
.underline-button{
    text-decoration: none;
    color: $button-txt-clr;
    font-weight: 700;
    position: relative;
    display: inline-block;
    &::after{
        content: '';
        width: 0%;
        background: $button-txt-clr;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        transition: all .4s;
    }
    &:hover{
        color: $button-txt-clr;
    }
    &:hover::after{
        width: 110px;
        color: $button-txt-clr;
    }
}

.brand-text{
    color: $button-clr;
}

.experience-card{
    background-color: $background-clr2;
    .experience-header{
    display: flex;
    align-items: center;
    }
}

.experience-card:hover{
    .experience-header .la-bug{
        color: green;
    }
    .experience-header .la-university{
        color: rgb(102, 102, 194);
    }
    .experience-header .la-code{
        color: rgb(179, 38, 179);
    }

}

.shadow-effect {
    transition: all 1s;
    &:hover {
        box-shadow: -6px 6px $shadow-color;
    }
}


.experience-icon{
    width: 60px;
    height: 60px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    & .la-bug{
        transition: 500ms;
    color: red;
    }
}


@media (min-width: 992px){
    .navbar{
    min-height: 100vh; 
    width: $sidebar-width;
    background: linear-gradient(rgba(15, 14, 23, 0.7), rgba(15, 14, 23, 0.9)), url('../img/pexels-hristo-fidanov-1252869.jpg');
    background-size: cover;
    }
    #content-wrapper{
        margin-left: $sidebar-width;
      }
}
