@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;0,700;1,500&display=swap");
body {
  background: #0f0e17;
  color: #a7a9be;
  font-family: "Bai Jamjuree", sans-serif;
}

button {
  background: #ff8906;
  color: #fffffe;
}

p {
  color: #a7a9be;
  font-family: "Bai Jamjuree", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #fffffe;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 700;
}

.nav-link {
  text-decoration: none;
  color: #fffffe;
  transition: all 0.4s ease;
  font-family: "Bai Jamjuree";
}
.nav-link:hover {
  color: #ff8906;
}

img {
  width: 100%;
}

.navbar .nav-link {
  font-weight: 700;
  text-transform: uppercase;
}
.navbar .nav-link.active {
  color: #ff8906;
}

.navbar-brand img {
  width: 200px;
  height: 200px;
  border: 8px solid #ff8906;
}

.navbar {
  background-color: #0f0e17;
}

button {
  width: 200px;
  font-size: 24px;
  position: relative;
  text-align: left;
}
button i {
  font-size: 24px;
  position: absolute;
  top: 35%;
  left: 40%;
  transition: all 1s;
}
button:hover i {
  transform: translateX(350%);
}

.link-button, button {
  text-decoration: none;
  color: #fffffe;
  background-color: #ff8906;
  border-radius: 12px;
  padding: 15px 15px;
  font-weight: 700;
  display: inline-block;
}

.full-height {
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
}

.underline-button {
  text-decoration: none;
  color: #fffffe;
  font-weight: 700;
  position: relative;
  display: inline-block;
}
.underline-button::after {
  content: "";
  width: 0%;
  background: #fffffe;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  transition: all 0.4s;
}
.underline-button:hover {
  color: #fffffe;
}
.underline-button:hover::after {
  width: 110px;
  color: #fffffe;
}

.brand-text {
  color: #ff8906;
}

.card-bg {
  background-color: #2d2b3b;
}

.experience-card {
  min-height: 250px;
}
.experience-card .experience-header {
  display: flex;
  align-items: center;
}

.experience-card:hover .experience-header .la-bug {
  color: green;
}
.experience-card:hover .experience-header .la-university {
  color: rgb(102, 102, 194);
}
.experience-card:hover .experience-header .la-code {
  color: rgb(179, 38, 179);
}

.shadow-effect {
  transition: all 0.5s;
}
.shadow-effect:hover {
  box-shadow: -10px 10px rgb(3, 110, 46);
}

section {
  border-bottom: 2px solid #2d2b3b;
}

.experience-icon {
  width: 60px;
  height: 60px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.experience-icon .la-bug {
  transition: 500ms;
  color: red;
}

.project-card {
  min-height: 450px;
}
.project-card .project-snapshot {
  overflow: hidden;
}

.project-card .project-snapshot img {
  transition: all 0.4s ease;
}

.project-card:hover .project-snapshot img {
  transform: scale(1.1);
}

.project-card .project-description {
  height: 100%;
}
.project-card .project-description .project-technologies {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 32px;
}
.project-card .project-description .project-technologies i.la-js-square {
  color: rgb(154, 154, 42);
}
.project-card .project-description .project-technologies i.la-react {
  color: rgb(57, 57, 182);
}
.project-card .project-description .project-technologies i.la-sass {
  color: pink;
}
.project-card .project-description .project-technologies i.la-html5 {
  color: red;
}
.project-card .project-description .project-technologies i.la-bootstrap {
  color: violet;
}

@media (min-width: 992px) {
  .navbar {
    min-height: 100vh;
    width: 280px;
    background: linear-gradient(rgba(15, 14, 23, 0.7), rgba(15, 14, 23, 0.9)), url("../img/pexels-hristo-fidanov-1252869.jpg");
    background-size: cover;
  }
  #content-wrapper {
    margin-left: 280px;
  }
  section {
    padding: 2px;
  }
}/*# sourceMappingURL=style.css.map */