@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100;1,500;1,900&display=swap');

$background-clr: #0f0e17;
$headline-clr: #fffffe;
$paragraph-clr: #a7a9be;
$button-clr: #ff8906;
$button-txt-clr: #fffffe;

body{
    background: $background-clr;
    color: $paragraph-clr;
}

button{
    background: $button-clr;
    color: $button-txt-clr;
}

p{
    color: $paragraph-clr;
}

h1, h2, h3, h4, h5, h6{
    color: $headline-clr;
}

.nav-link{
    text-decoration: none;
    color: $button-txt-clr;
    transition: all .4s ease;
    &:hover{
        color: $button-clr;
    }
}
